* {
  font-family: Roboto, sans-serif; }

span {
  color: #0077B5;
  font-weight: 500; }

body {
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

.big-blue-button {
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  width: 400px;
  height: 60px;
  background-color: #0A9FDB;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 0.2em 3em;
  transition: background-color 300ms;
  cursor: pointer;
  border: none; }

.big-blue-button:hover {
  background-color: #0077B5; }

header {
  display: flex;
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
  align-content: center;
  transition: background-color 300ms; }
  header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    header div * {
      font-weight: normal; }
  header #logo {
    width: 40%;
    padding: 2em;
    flex-grow: 3; }
    header #logo * {
      margin: 0.2em; }
    header #logo h1 {
      font-size: 36px;
      color: #333333;
      flex-grow: 3; }
  header #links {
    width: 45%;
    flex-grow: 5; }
    header #links a {
      color: #0077B5; }
      header #links a h2 {
        font-size: 24px; }

header:hover {
  background-color: #0077B5; }
  header:hover #logo h1 {
    color: #FFFFFF; }
  header:hover #links a {
    color: #FFFFFF; }

#links a:hover {
  text-decoration-line: underline; }

.big-text {
  color: #333333;
  letter-spacing: 0.03em;
  font-size: 64px;
  font-weight: normal; }

#body {
  position: relative;
  top: 6em;
  display: flex;
  height: 30em;
  width: 100%; }
  #body #desc {
    width: 40%;
    margin: auto;
    text-align: center; }
    #body #desc * {
      text-align: center; }
    #body #desc #tablets-logo {
      display: none; }
    #body #desc h1 {
      font-size: 72px;
      letter-spacing: 0.03em;
      font-weight: normal;
      color: #333333; }
    #body #desc #available {
      color: #0077B5;
      font-size: 22px;
      margin-bottom: 2em; }
    #body #desc #available:hover {
      text-decoration-line: underline; }
    #body #desc h1, #body #desc p, #body #desc div {
      text-align: center; }
  #body img {
    max-width: 794px;
    max-height: 565px;
    height: 100%; }

.hiwtext {
  font-size: 24px;
  color: #737373; }

#hiw {
  position: relative;
  top: 8em;
  margin: auto;
  text-align: center; }
  #hiw p {
    font-size: 36px;
    color: #737373; }

#steps {
  margin-top: 20em; }
  #steps .number {
    width: 100%;
    height: 50em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #steps .number .step {
      width: 30%; }
    #steps .number .llc-screen {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
      border-radius: 4px; }
  #steps .step-with-background {
    background: rgba(0, 119, 181, 0.1); }
  #steps .num {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 130px;
    color: rgba(0, 119, 181, 0.6);
    margin: 0; }
  #steps #recommend {
    color: #0077B5;
    font-style: italic;
    font-size: 24px; }

#fin {
  text-align: center;
  width: 35%;
  margin: 10em auto; }
  #fin p {
    color: #737373;
    font-size: 36px; }

#reviews {
  margin-top: 10em;
  text-align: center; }
  #reviews h2 {
    font-family: Numans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    text-align: center;
    color: rgba(0, 119, 181, 0.6);
    margin: 0; }
  #reviews #review {
    position: relative;
    margin-top: -200px; }
    #reviews #review .review {
      display: none;
      position: relative;
      animation: animateopacity 600ms; }
      #reviews #review .review h3 {
        font-size: 36px;
        color: #0077B5;
        font-weight: normal; }
      #reviews #review .review p {
        font-weight: 300;
        font-size: 30px;
        color: #737373;
        width: 50%;
        margin: auto; }
      #reviews #review .review a {
        font-weight: normal;
        font-size: 20px;
        color: #0077B5;
        display: inline-block;
        margin: 2em; }
  #reviews #slider-buttons {
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: center; }
    #reviews #slider-buttons .slider-button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #C4C4C4;
      cursor: pointer;
      margin: 0.6em;
      transition: background-color 300ms; }
    #reviews #slider-buttons .active-slider-button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #8E8C8C;
      cursor: pointer;
      margin: 0.6em; }
  #reviews #write-review {
    width: 55%;
    background-color: rgba(0, 119, 181, 0.1);
    border: 1px solid #0077B5;
    border-radius: 30px;
    margin: 4em auto;
    text-align: center;
    padding: 3em; }
    #reviews #write-review p {
      font-weight: normal;
      font-size: 24px;
      color: #737373;
      width: 70%;
      text-align: center;
      margin: 0 auto 2em auto; }

#contact-us {
  width: 50%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column; }
  #contact-us p {
    width: 100%;
    margin: 0 auto 1.5em auto;
    font-weight: normal;
    font-size: 36px;
    color: #737373;
    text-align: center;
    padding: 1em; }
  #contact-us form {
    text-align: center;
    display: flex;
    flex-flow: column; }
    #contact-us form .input-to-style {
      border: 1px solid #737373;
      border-radius: 20px;
      width: 100%;
      height: 2em;
      padding: 0.5em 1.5em;
      text-align: left;
      font-size: 24px;
      color: #737373;
      outline: none;
      font-weight: 300; }
    #contact-us form textarea {
      flex-basis: 13em;
      resize: none; }
    #contact-us form .input-to-style::placeholder {
      font-weight: 300;
      line-height: normal;
      font-size: 24px;
      color: #737373; }
    #contact-us form .input-to-style:hover {
      border-color: #0077B5; }
    #contact-us form .input-to-style:focus {
      background: #FFFDFD;
      border: 1px solid #0077B5;
      box-shadow: 0 0 10px #0077B5; }
    #contact-us form .input-to-style:invalid {
      background: #FFFDFD;
      border-color: #DF8484;
      box-shadow: 0 0 10px #DF8484;
      color: #DF8484; }
  #contact-us #responsive-contact-us {
    font-weight: normal;
    font-size: 30px;
    text-align: center; }

/*Classes for id="responsive-contact-us"*/
.active {
  color: #0077B5; }

.error {
  color: #DF8484; }

/*======================================*/
footer {
  background-color: #0077B5;
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.25); }
  footer p {
    font-weight: normal;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px; }

@keyframes animateopacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes polygon {
  0% {
    stroke-dasharray: 0 300; }
  100% {
    stroke-dasharray: 300 0; } }
@keyframes polygon {
  0% {
    stroke-dasharray: 0 300; }
  100% {
    stroke-dasharray: 300 0; } }
@-webkit-keyframes circle-glow {
  0% {
    fill: #d7eaf2; }
  50% {
    fill: #94bccc; }
  100% {
    fill: #0a9fdb; } }
@keyframes circle-glow {
  0% {
    fill: #d7eaf2; }
  50% {
    fill: #94bccc; }
  100% {
    fill: #0a9fdb; } }
.hexs {
  position: relative;
  top: 100px; }
  .hexs polygon {
    stroke-width: 1;
    fill: transparent;
    stroke: #005e93;
    stroke-miterlimit: 10; }
  .hexs .hex1 {
    animation: 4s polygon forwards;
    -webkit-animation: 4s polygon forwards; }
  .hexs .hex2 {
    animation: 8s polygon forwards;
    -webkit-animation: 8s polygon forwards; }
  .hexs .hex3 {
    animation: 12s polygon alternate backwards;
    -webkit-animation: 12s polygon alternate backwards; }
  .hexs .hex4 {
    animation: 10s polygon alternate backwards;
    -webkit-animation: 10s polygon alternate backwards; }
  .hexs circle {
    fill: #0a9fdb;
    -webkit-animation-name: circle-glow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    animation-name: circle-glow;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: alternate; }

#hex1 {
  margin-top: 7em; }

#hex2 {
  margin-top: -50px; }

@media all and (min-width: 640px) and (max-width: 992px) {
  header, #steps, .hexs, #hiw, #fin, #reviews, #contact-us, footer {
    display: none; }

  #body {
    top: 3em; }
    #body #desc {
      width: 75%; }
      #body #desc #tablets-logo {
        display: inline-block; }
      #body #desc h1 {
        margin: 0.3em;
        font-size: 96px; }
      #body #desc .hiwtext {
        width: 70%;
        margin: auto;
        font-size: 48px; }
      #body #desc #available {
        font-size: 32px; }
      #body #desc #install div {
        width: 500px;
        height: 70px;
        margin-bottom: 1.5em; }
    #body img {
      display: none; } }
@media all and (max-width: 639px) {
  header, #steps, .hexs, #hiw, #fin, #reviews, #contact-us, footer {
    display: none; }

  #body {
    top: 3em; }
    #body #desc {
      width: 75%; }
      #body #desc #tablets-logo {
        display: inline-block;
        width: 94px;
        height: 94px; }
      #body #desc h1 {
        font-size: 48px;
        margin-top: 2em; }
      #body #desc .hiwtext {
        width: 100%;
        margin: auto;
        font-size: 24px; }
      #body #desc #available {
        font-size: 18px; }
      #body #desc #install div {
        width: 300px;
        height: 70px;
        margin-top: 2em;
        margin-bottom: 1.5em; }
    #body img {
      display: none; } }
